@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    text-align: center;
    &__text {
      text-align: center;
    }
    &__games {
      text-align: center;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gamebox {
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    width: 393px;
    text-align: center;
    &__text {
      width: 390px;
      text-align: center;
    }
    &__games {
      text-align: center;
    }
  }
  .picture__box {
    width: 390px;
    height: 200px;
    padding-bottom: 85px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gamebox {
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .puzzle_text {
    padding-left: unset;
    padding-right: unset;
  }
}

@media (max-width: 424px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 735px;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 343px;
    &__text {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      align-items: center;
      text-align: center;
      max-width: 343px;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  .game {
    width: 343px;
    height: 300px;
  }

  .picture__box {
    width: 343px;
    height: 200px;
  }
  .gamebox {
    padding-bottom: 85px;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .title__games {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    text-align: center;
  }
  .puzzle_text {
    padding-left: unset;
    padding-right: unset;
  }
}
@media (max-width: 325px) {
  .title {
    width: 288px;
    &__text {
      max-width: 288px;
    }
  }
  .game {
    width: 288px;
    height: 250px;
  }
  .gamebox {
    padding-bottom: 85px;
  }
  .picture__box {
    width: 290px;
    height: 150px;
  }
  .puzzle_text {
    padding-left: unset;
    padding-right: unset;
  }
}
